{
  "LOG_LEVEL": "INFO",
  "LOG_DIR": "/tmp",
  "RENAME_SORTED_FILES": false,
  "REMOVE_OLD_FILES": false,
  "APPEND_ORIG_FILENAME": false,
  "REMOVE_SPACE_FROM_FILENAME": true,
  "DATE_FORMAT_OUTPUT": "%Y%m%d_%H%M%S",
  "PROCESS_IMAGES": true,
  "IMAGE_FILENAME_SUFFIX": "IMG_",
  "IMAGES_SOURCE_PATH": "/media/drivemount/user/files/FilesToSort",
  "IMAGES_DESTINATION_PATH": "/media/drivemount/user/files/FilesSorted",
  "IMAGE_FILES_EXTENSIONS": [
    ".jpg",
    ".gif",
    ".tiff"
  ],
  "PROCESS_VIDEOS": false,
  "VIDEO_FILENAME_SUFFIX": "VID_",
  "VIDEOS_SOURCE_PATH": "/media/drivemount/user/files/FilesToSort",
  "VIDEOS_DESTINATION_PATH": "/media/drivemount/user/files/FilesSorted",
  "VIDEO_FILES_EXTENSIONS": [
    ".mp4",
    ".3gp",
    ".mov"
  ],
  "NEXTCLOUD": false,
  "NEXTCLOUD_PATH": "/var/www/html/nextcloud",
  "NEXTCLOUD_USER": "www-data",
  "NEXTCLOUD_GROUP": "www-data",
  "NC_CONFIG_PREVIEW_MAX_X": "1080",
  "NC_CONFIG_PREVIEW_MAX_Y": "1920",
  "NC_CONFIG_JPEG_QUALITY": "60",
  "NC_PREVIEW_SQUARESIZES": "32 256",
  "NC_PREVIEW_WIDTHSIZES": "256 384",
  "NC_PREVIEW_HEIGHTSIZES": "256",
  "NEXTCLOUD_USER": "www-data"
}
